ddl.py

In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',    
    password='@123Pychey'
)
cursor = conn.cursor()

cursor.execute("DROP DATABASE IF EXISTS pos_management_db")
cursor.execute("CREATE DATABASE IF NOT EXISTS pos_management_db")
cursor.execute("USE pos_management_db")

table_statements = [

    """
    CREATE TABLE pos_system (
        pos_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        description TEXT,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
    """,

    """
    CREATE TABLE pos_feature (
        feature_id INT AUTO_INCREMENT PRIMARY KEY,
        feature_name VARCHAR(150) NOT NULL,
        description TEXT
    )
    """,

    """
    CREATE TABLE pricing (
        pricing_id INT AUTO_INCREMENT PRIMARY KEY,
        pos_id INT,
        plan_name VARCHAR(100) NOT NULL,
        price_per_month DECIMAL(10, 2) NOT NULL,
        features_summary TEXT,
        FOREIGN KEY (pos_id) REFERENCES pos_system(pos_id)
    )
    """,

    """
    CREATE TABLE store_client (
        store_id INT AUTO_INCREMENT PRIMARY KEY,
        store_name VARCHAR(150) NOT NULL,
        owner_name VARCHAR(100),
        email VARCHAR(100),
        phone VARCHAR(20),
        address VARCHAR(255),
        pricing_id INT,
        activated_at TIMESTAMP,
        FOREIGN KEY (pricing_id) REFERENCES pricing(pricing_id)
    )
    """,

    """
    CREATE TABLE pos_sale (
        sale_id INT AUTO_INCREMENT PRIMARY KEY,
        store_id INT,
        pos_id INT,
        pricing_id INT,
        amount DECIMAL(10,2),
        sale_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (store_id) REFERENCES store_client(store_id),
        FOREIGN KEY (pos_id) REFERENCES pos_system(pos_id),
        FOREIGN KEY (pricing_id) REFERENCES pricing(pricing_id)
    )
    """,

    """
    CREATE TABLE store_inventory (
        inventory_id INT AUTO_INCREMENT PRIMARY KEY,
        store_id INT,
        product_name VARCHAR(150),
        barcode VARCHAR(50),
        quantity INT NOT NULL DEFAULT 0,
        unit_price DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (store_id) REFERENCES store_client(store_id)
    )
    """,

    """
    CREATE TABLE store_transaction (
        transaction_id INT AUTO_INCREMENT PRIMARY KEY,
        store_id INT,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (store_id) REFERENCES store_client(store_id)
    )
    """,

    """
    CREATE TABLE transaction_item (
        inventory_id INT,
        transaction_id INT,
        quantity INT NOT NULL,
        unit_price DECIMAL(10,2) NOT NULL,
        FOREIGN KEY (transaction_id) REFERENCES store_transaction(transaction_id),
        FOREIGN KEY (inventory_id) REFERENCES store_inventory(inventory_id)
    )
    """,

    """
    CREATE TABLE system_feature (
        pos_id INT,
        feature_id INT,
        FOREIGN KEY (pos_id) REFERENCES pos_system(pos_id),
        FOREIGN KEY (feature_id) REFERENCES pos_feature(feature_id)
    )
    """
]

for statement in table_statements:
    cursor.execute(statement)

print("Database and all tables created successfully.")

cursor.close()
conn.close()

Database and all tables created successfully.

dml.py

In [ ]:
from faker import Faker
import random
import mysql.connector

faker = Faker()

conn = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',    
    password='@123Pychey',
    database='pos_management_db'
)
cursor = conn.cursor()

NUM_POS_SYSTEM = 100
NUM_POS_FEATURE = 100
NUM_PRICING = 100
NUM_STORE_CLIENT = 100
NUM_POS_SALE = 100
NUM_STORE_INVENTORY = 100
NUM_STORE_TRANSACTION = 100
NUM_TRANSACTION_ITEM = 100
NUM_SYSTEM_FEATURE = 100

def get_ids(table_name, id_column):
    cursor.execute(f"SELECT {id_column} FROM {table_name}")
    return [row[0] for row in cursor.fetchall()]

for _ in range(NUM_POS_SYSTEM):
    name = faker.company()
    description = faker.text()
    cursor.execute("INSERT INTO pos_system (name, description) VALUES (%s, %s)", (name, description))

conn.commit()
print(f"Inserted {NUM_POS_SYSTEM} records into pos_system.")
pos_ids = get_ids("pos_system", "pos_id")

for _ in range(NUM_POS_FEATURE):
    feature_name = faker.bs().capitalize()
    description = faker.text()
    cursor.execute("INSERT INTO pos_feature (feature_name, description) VALUES (%s, %s)", (feature_name, description))

conn.commit()
print(f"Inserted {NUM_POS_FEATURE} records into pos_feature.")
feature_ids = get_ids("pos_feature", "feature_id")

for _ in range(NUM_PRICING):
    pos_id = random.choice(pos_ids)
    plan_name = faker.word().capitalize() + " Plan"
    price_per_month = round(random.uniform(10, 200), 2)
    features_summary = faker.sentence()
    cursor.execute("""
        INSERT INTO pricing (pos_id, plan_name, price_per_month, features_summary)
        VALUES (%s, %s, %s, %s)
    """, (pos_id, plan_name, price_per_month, features_summary))

conn.commit()
print(f"Inserted {NUM_PRICING} records into pricing.")
pricing_ids = get_ids("pricing", "pricing_id")

for _ in range(NUM_STORE_CLIENT):
    store_name = faker.company()
    owner_name = faker.name()
    email = faker.email()
    phone = faker.phone_number()[:20]
    address = faker.address().replace('\n', ', ')
    pricing_id = random.choice(pricing_ids)
    activated_at = faker.date_time_this_year()
    cursor.execute("""
        INSERT INTO store_client (store_name, owner_name, email, phone, address, pricing_id, activated_at)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (store_name, owner_name, email, phone, address, pricing_id, activated_at))

conn.commit()
print(f"Inserted {NUM_STORE_CLIENT} records into store_client.")
store_ids = get_ids("store_client", "store_id")

for _ in range(NUM_POS_SALE):
    store_id = random.choice(store_ids)
    pos_id = random.choice(pos_ids)
    pricing_id = random.choice(pricing_ids)
    amount = round(random.uniform(100, 2000), 2)
    cursor.execute("""
        INSERT INTO pos_sale (store_id, pos_id, pricing_id, amount)
        VALUES (%s, %s, %s, %s)
    """, (store_id, pos_id, pricing_id, amount))

conn.commit()
print(f"Inserted {NUM_POS_SALE} records into pos_sale.")

inventory_ids = []
for _ in range(NUM_STORE_INVENTORY):
    store_id = random.choice(store_ids)
    product_name = faker.word().capitalize()
    barcode = faker.unique.ean(length=13)
    quantity = random.randint(1, 100)
    unit_price = round(random.uniform(1, 50), 2)
    cursor.execute("""
        INSERT INTO store_inventory (store_id, product_name, barcode, quantity, unit_price)
        VALUES (%s, %s, %s, %s, %s)
    """, (store_id, product_name, barcode, quantity, unit_price))

conn.commit()
print(f"Inserted {NUM_STORE_INVENTORY} records into store_inventory.")
inventory_ids = get_ids("store_inventory", "inventory_id")

transaction_ids = []
for _ in range(NUM_STORE_TRANSACTION):
    store_id = random.choice(store_ids)
    cursor.execute("INSERT INTO store_transaction (store_id) VALUES (%s)", (store_id,))

conn.commit()
print(f"Inserted {NUM_STORE_TRANSACTION} records into store_transaction.")
transaction_ids = get_ids("store_transaction", "transaction_id")

for _ in range(NUM_TRANSACTION_ITEM):
    inventory_id = random.choice(inventory_ids)
    transaction_id = random.choice(transaction_ids)
    quantity = random.randint(1, 10)
    unit_price = round(random.uniform(5, 100), 2)
    cursor.execute("""
        INSERT INTO transaction_item (inventory_id, transaction_id, quantity, unit_price)
        VALUES (%s, %s, %s, %s)
    """, (inventory_id, transaction_id, quantity, unit_price))

conn.commit()
print(f"Inserted {NUM_TRANSACTION_ITEM} records into transaction_item.")

for _ in range(NUM_SYSTEM_FEATURE):
    pos_id = random.choice(pos_ids)
    feature_id = random.choice(feature_ids)
    cursor.execute("""
        INSERT INTO system_feature (pos_id, feature_id)
        VALUES (%s, %s)
    """, (pos_id, feature_id))

conn.commit()
print(f"Inserted {NUM_SYSTEM_FEATURE} records into system_feature.")

cursor.close()
conn.close()

print("Data insertion completed successfully.")

dql.py

In [6]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',    
    password='@123Pychey',
    database='pos_management_db'
)
cursor = conn.cursor()

queries = [
    ("Query 1: Store info with POS and pricing",
    """
    SELECT sc.store_name, sc.owner_name, sc.email,
           ps.name as pos_system_name, p.plan_name,
           p.price_per_month, sc.activated_at
    FROM store_client sc
    JOIN pricing p ON sc.pricing_id = p.pricing_id
    JOIN pos_system ps ON p.pos_id = ps.pos_id
    ORDER BY sc.activated_at DESC
    """),

    ("Query 2: Total revenue by POS system",
    """
    SELECT ps.name as pos_system_name,
           COUNT(ps_sale.sale_id) as total_sales,
           SUM(ps_sale.amount) as total_revenue,
           AVG(ps_sale.amount) as average_sale_amount
    FROM pos_sale ps_sale
    JOIN pos_system ps ON ps_sale.pos_id = ps.pos_id
    GROUP BY ps.pos_id, ps.name
    ORDER BY total_revenue DESC
    """),

    ("Query 3: Above-average inventory value stores",
    """
    SELECT sc.store_name, sc.owner_name,
           SUM(si.quantity * si.unit_price) as total_inventory_value
    FROM store_client sc
    JOIN store_inventory si ON sc.store_id = si.store_id
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    HAVING SUM(si.quantity * si.unit_price) > (
        SELECT AVG(store_total.total_value)
        FROM (
            SELECT SUM(quantity * unit_price) as total_value
            FROM store_inventory
            GROUP BY store_id
        ) as store_total
    )
    ORDER BY total_inventory_value DESC
    """),

    ("Query 4: Transaction details with product info",
    """
    SELECT st.transaction_id, sc.store_name, si.product_name,
           ti.quantity, ti.unit_price,
           (ti.quantity * ti.unit_price) as total_amount,
           st.created_at
    FROM store_transaction st
    JOIN store_client sc ON st.store_id = sc.store_id
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    JOIN store_inventory si ON ti.inventory_id = si.inventory_id
    WHERE st.created_at >= '2024-01-01'
    ORDER BY st.created_at DESC
    """),

    ("Query 5: Store sales rank",
    """
    SELECT sc.store_name, sc.owner_name,
           SUM(ps_sale.amount) as total_revenue,
           RANK() OVER (ORDER BY SUM(ps_sale.amount) DESC) as revenue_rank,
           DENSE_RANK() OVER (ORDER BY SUM(ps_sale.amount) DESC) as dense_revenue_rank
    FROM store_client sc
    LEFT JOIN pos_sale ps_sale ON sc.store_id = ps_sale.store_id
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    ORDER BY total_revenue DESC
    """),

    ("Query 6: POS systems with all features",
    """
    SELECT ps.name as pos_system_name, ps.description
    FROM pos_system ps
    WHERE NOT EXISTS (
        SELECT 1 
        FROM pos_feature pf
        WHERE NOT EXISTS (
            SELECT 1 
            FROM system_feature sf 
            WHERE sf.pos_id = ps.pos_id AND sf.feature_id = pf.feature_id
        )
    )
    """),

    ("Query 7: Monthly sales performance",
    """
    SELECT YEAR(st.created_at) as year,
           MONTH(st.created_at) as month,
           COUNT(DISTINCT st.store_id) as active_stores,
           COUNT(st.transaction_id) as total_transactions,
           SUM(ti.quantity * ti.unit_price) as total_sales,
           CASE 
               WHEN SUM(ti.quantity * ti.unit_price) > 1000 THEN 'High Performance'
               WHEN SUM(ti.quantity * ti.unit_price) > 500 THEN 'Medium Performance'
               ELSE 'Low Performance'
           END as performance_category
    FROM store_transaction st
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    GROUP BY YEAR(st.created_at), MONTH(st.created_at)
    ORDER BY year DESC, month DESC
    """),

    ("Query 8: Compare pricing plans within same POS system",
    """
    SELECT p1.plan_name as plan1_name,
           p1.price_per_month as plan1_price,
           p2.plan_name as plan2_name,
           p2.price_per_month as plan2_price,
           (p2.price_per_month - p1.price_per_month) as price_difference,
           ps.name as pos_system_name
    FROM pricing p1
    JOIN pricing p2 ON p1.pos_id = p2.pos_id AND p1.pricing_id < p2.pricing_id
    JOIN pos_system ps ON p1.pos_id = ps.pos_id
    ORDER BY price_difference DESC
    """),

    ("Query 9: Stores with high-value transactions",
    """
    SELECT sc.store_name, sc.owner_name,
           COUNT(st.transaction_id) as transaction_count,
           AVG(transaction_total.total_amount) as avg_transaction_value
    FROM store_client sc
    JOIN store_transaction st ON sc.store_id = st.store_id
    JOIN (
        SELECT transaction_id,
               SUM(quantity * unit_price) as total_amount
        FROM transaction_item
        GROUP BY transaction_id
    ) transaction_total ON st.transaction_id = transaction_total.transaction_id
    WHERE transaction_total.total_amount IN (
        SELECT SUM(quantity * unit_price)
        FROM transaction_item
        GROUP BY transaction_id
        HAVING SUM(quantity * unit_price) > 50
    )
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    ORDER BY avg_transaction_value DESC
    """),

    ("Query 10: Feature usage analysis",
    """
    SELECT pf.feature_name,
           COUNT(DISTINCT sf.pos_id) as pos_systems_with_feature,
           COUNT(DISTINCT ps_sale.store_id) as stores_using_feature,
           SUM(ps_sale.amount) as total_revenue_from_feature,
           ROUND(
               (COUNT(DISTINCT sf.pos_id) * 100.0 / (SELECT COUNT(*) FROM pos_system)), 2
           ) as feature_adoption_percentage
    FROM pos_feature pf
    LEFT JOIN system_feature sf ON pf.feature_id = sf.feature_id
    LEFT JOIN pos_sale ps_sale ON sf.pos_id = ps_sale.pos_id
    GROUP BY pf.feature_id, pf.feature_name
    ORDER BY feature_adoption_percentage DESC
    """),

    ("Query 11: Inventory turnover per store",
    """
    SELECT sc.store_name,
           COUNT(si.inventory_id) as total_products,
           SUM(si.quantity) as total_stock,
           SUM(si.quantity * si.unit_price) as inventory_value,
           COUNT(ti.transaction_id) as sales_transactions,
           CASE 
               WHEN COUNT(ti.transaction_id) > 0 THEN 
                   ROUND(SUM(si.quantity * si.unit_price) / COUNT(ti.transaction_id), 2)
               ELSE 0 
           END as inventory_per_transaction
    FROM store_client sc
    LEFT JOIN store_inventory si ON sc.store_id = si.store_id
    LEFT JOIN transaction_item ti ON si.inventory_id = ti.inventory_id
    GROUP BY sc.store_id, sc.store_name
    ORDER BY inventory_per_transaction DESC
    """),

    ("Query 12: Monthly growth trend",
    """
    SELECT YEAR(st.created_at) as year,
           MONTH(st.created_at) as month,
           COUNT(st.transaction_id) as transactions,
           SUM(ti.quantity * ti.unit_price) as revenue,
           LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at)) as prev_month_revenue,
           CASE 
               WHEN LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at)) > 0 THEN
                   ROUND(
                       ((SUM(ti.quantity * ti.unit_price) - LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at))) / 
                       LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at))) * 100, 2
                   )
               ELSE 0 
           END as growth_percentage
    FROM store_transaction st
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    GROUP BY YEAR(st.created_at), MONTH(st.created_at)
    ORDER BY year DESC, month DESC
    """)
]

title, sql = queries[3] # Change [0] -> to Test Other Queries

try:
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(title)
    for row in rows:
        print(row)
    if not rows:
        print("[No results]")
except Exception as e:
    print(f"[Error running query]: {e}")

cursor.close()
conn.close()

Query 4: Transaction details with product info
(996079, 'Williams Ltd', 'Land', 7, Decimal('97.91'), Decimal('685.37'), datetime.datetime(2025, 7, 10, 4, 1, 25))
(986039, 'Solis Group', 'Blood', 7, Decimal('78.46'), Decimal('549.22'), datetime.datetime(2025, 7, 10, 4, 1, 24))
(973157, 'Morales, Mathews and Tyler', 'Something', 5, Decimal('50.39'), Decimal('251.95'), datetime.datetime(2025, 7, 10, 4, 1, 24))
(932401, 'Peterson PLC', 'Create', 3, Decimal('11.10'), Decimal('33.30'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(942876, 'Peters-Freeman', 'Force', 8, Decimal('21.30'), Decimal('170.40'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(932475, 'Miller-Rodriguez', 'Herself', 2, Decimal('71.73'), Decimal('143.46'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(947326, 'Garrison-Smith', 'Research', 2, Decimal('24.57'), Decimal('49.14'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(932653, 'Evans-Martin', 'Gun', 5, Decimal('49.57'), Decimal('247.85'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(943458, 'Thompson-Gallegos', 'We', 2, Decimal('30.75'), Decimal('61.50'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(939655, 'Barnes LLC', 'Weight', 8, Decimal('80.06'), Decimal('640.48'), datetime.datetime(2025, 7, 10, 4, 1, 22))
(919882, 'Le-Collins', 'About', 1, Decimal('15.50'), Decimal('15.50'), datetime.datetime(2025, 7, 10, 4, 1, 21))
(896163, 'Nixon-Sanders', 'Time', 9, Decimal('98.37'), Decimal('885.33'), datetime.datetime(2025, 7, 10, 4, 1, 20))
(898910, 'Ramirez, Strong and Hardy', 'Good', 10, Decimal('46.90'), Decimal('469.00'), datetime.datetime(2025, 7, 10, 4, 1, 20))
(906889, 'Castro LLC', 'Discover', 2, Decimal('98.22'), Decimal('196.44'), datetime.datetime(2025, 7, 10, 4, 1, 20))
(877764, 'Campbell-Reyes', 'Administration', 8, Decimal('36.14'), Decimal('289.12'), datetime.datetime(2025, 7, 10, 4, 1, 19))
(852511, 'Estes-Hamilton', 'Attorney', 6, Decimal('57.90'), Decimal('347.40'), datetime.datetime(2025, 7, 10, 4, 1, 18))
(824410, 'Dunn, Cisneros and Harrison', 'Fast', 3, Decimal('85.57'), Decimal('256.71'), datetime.datetime(2025, 7, 10, 4, 1, 16))
(796473, 'Harris-Evans', 'Everybody', 6, Decimal('29.05'), Decimal('174.30'), datetime.datetime(2025, 7, 10, 4, 1, 15))
(750762, 'Simmons, Banks and Wood', 'Blood', 10, Decimal('28.14'), Decimal('281.40'), datetime.datetime(2025, 7, 10, 4, 1, 13))
(753424, 'Knox-Hampton', 'Different', 5, Decimal('46.31'), Decimal('231.55'), datetime.datetime(2025, 7, 10, 4, 1, 13))
(732683, 'Bailey, Myers and Howard', 'Tv', 1, Decimal('69.31'), Decimal('69.31'), datetime.datetime(2025, 7, 10, 4, 1, 12))
(735116, 'Thompson-Ramirez', 'Entire', 9, Decimal('49.59'), Decimal('446.31'), datetime.datetime(2025, 7, 10, 4, 1, 12))
(712306, 'Carter, Mcguire and Gonzalez', 'Tree', 2, Decimal('82.63'), Decimal('165.26'), datetime.datetime(2025, 7, 10, 4, 1, 11))
(708271, 'Richards and Sons', 'Figure', 4, Decimal('66.19'), Decimal('264.76'), datetime.datetime(2025, 7, 10, 4, 1, 11))
(700546, 'Nicholson-Williams', 'Major', 9, Decimal('75.65'), Decimal('680.85'), datetime.datetime(2025, 7, 10, 4, 1, 10))
(682608, 'Keller-Carter', 'Single', 10, Decimal('56.93'), Decimal('569.30'), datetime.datetime(2025, 7, 10, 4, 1, 9))
(665765, 'Thompson-Ramirez', 'Them', 8, Decimal('13.68'), Decimal('109.44'), datetime.datetime(2025, 7, 10, 4, 1, 9))
(643577, 'Bailey, Myers and Howard', 'Beautiful', 6, Decimal('61.43'), Decimal('368.58'), datetime.datetime(2025, 7, 10, 4, 1, 8))
(651421, 'Hill PLC', 'Across', 2, Decimal('69.60'), Decimal('139.20'), datetime.datetime(2025, 7, 10, 4, 1, 8))
(646326, 'Mitchell, Smith and Garza', 'Boy', 1, Decimal('58.89'), Decimal('58.89'), datetime.datetime(2025, 7, 10, 4, 1, 8))
(640813, 'Buckley, Adams and Williams', 'Summer', 3, Decimal('72.54'), Decimal('217.62'), datetime.datetime(2025, 7, 10, 4, 1, 7))
(624511, 'Martinez-Morris', 'Hot', 10, Decimal('92.54'), Decimal('925.40'), datetime.datetime(2025, 7, 10, 4, 1, 7))
(616402, 'Daniel, Anderson and Flores', 'One', 9, Decimal('18.72'), Decimal('168.48'), datetime.datetime(2025, 7, 10, 4, 1, 6))
(595257, 'Harvey, Jackson and Graham', 'Ask', 8, Decimal('10.79'), Decimal('86.32'), datetime.datetime(2025, 7, 10, 4, 1, 5))
(600862, 'Beasley PLC', 'Hope', 9, Decimal('73.60'), Decimal('662.40'), datetime.datetime(2025, 7, 10, 4, 1, 5))
(564009, 'Davenport, Butler and Gonzalez', 'Year', 7, Decimal('81.74'), Decimal('572.18'), datetime.datetime(2025, 7, 10, 4, 1, 4))
(575445, 'Cannon Ltd', 'Near', 10, Decimal('89.33'), Decimal('893.30'), datetime.datetime(2025, 7, 10, 4, 1, 4))
(570310, 'May, Hunt and Henderson', 'Instead', 4, Decimal('89.58'), Decimal('358.32'), datetime.datetime(2025, 7, 10, 4, 1, 4))
(573685, 'Gutierrez, Maddox and Hardy', 'Generation', 6, Decimal('9.11'), Decimal('54.66'), datetime.datetime(2025, 7, 10, 4, 1, 4))
(543623, 'Durham, Harris and Allen', 'Onto', 3, Decimal('23.82'), Decimal('71.46'), datetime.datetime(2025, 7, 10, 4, 1, 3))
(524804, 'Miller PLC', 'Put', 4, Decimal('57.07'), Decimal('228.28'), datetime.datetime(2025, 7, 10, 4, 1, 2))
(522221, 'Greene and Sons', 'Section', 1, Decimal('39.91'), Decimal('39.91'), datetime.datetime(2025, 7, 10, 4, 1, 2))
(516148, 'Miller, Edwards and Gonzalez', 'Final', 7, Decimal('68.08'), Decimal('476.56'), datetime.datetime(2025, 7, 10, 4, 1, 1))
(512406, 'Barnes LLC', 'Ahead', 10, Decimal('57.50'), Decimal('575.00'), datetime.datetime(2025, 7, 10, 4, 1, 1))
(486955, 'Williams, Trujillo and Jackson', 'This', 10, Decimal('11.85'), Decimal('118.50'), datetime.datetime(2025, 7, 10, 4, 1))
(484271, 'Fischer-Smith', 'Letter', 1, Decimal('38.08'), Decimal('38.08'), datetime.datetime(2025, 7, 10, 4, 1))
(497988, 'Holt Group', 'Manage', 10, Decimal('41.11'), Decimal('411.10'), datetime.datetime(2025, 7, 10, 4, 1))
(490105, 'Young-Holloway', 'Herself', 6, Decimal('48.62'), Decimal('291.72'), datetime.datetime(2025, 7, 10, 4, 1))
(467421, 'Mejia Inc', 'Bed', 4, Decimal('60.06'), Decimal('240.24'), datetime.datetime(2025, 7, 10, 4, 0, 59))
(466014, 'Beard, Murray and Williams', 'Federal', 8, Decimal('8.33'), Decimal('66.64'), datetime.datetime(2025, 7, 10, 4, 0, 59))
(468709, 'Mack, Murphy and Clark', 'Second', 9, Decimal('46.99'), Decimal('422.91'), datetime.datetime(2025, 7, 10, 4, 0, 59))
(475038, 'Duncan, Adams and Giles', 'Herself', 2, Decimal('55.51'), Decimal('111.02'), datetime.datetime(2025, 7, 10, 4, 0, 59))
(445995, 'Mills, Bowers and Walker', 'Surface', 9, Decimal('15.81'), Decimal('142.29'), datetime.datetime(2025, 7, 10, 4, 0, 58))
(455034, 'Torres PLC', 'Bring', 3, Decimal('27.02'), Decimal('81.06'), datetime.datetime(2025, 7, 10, 4, 0, 58))
(462460, 'Perez, Archer and Williams', 'Address', 8, Decimal('73.65'), Decimal('589.20'), datetime.datetime(2025, 7, 10, 4, 0, 58))
(450655, 'Thomas-Hansen', 'Hospital', 8, Decimal('95.65'), Decimal('765.20'), datetime.datetime(2025, 7, 10, 4, 0, 58))
(424361, 'Carter, Mcguire and Gonzalez', 'Billion', 6, Decimal('41.08'), Decimal('246.48'), datetime.datetime(2025, 7, 10, 4, 0, 57))
(425785, 'Thomas-Hansen', 'Main', 5, Decimal('10.65'), Decimal('53.25'), datetime.datetime(2025, 7, 10, 4, 0, 57))
(419292, 'Page-Robinson', 'These', 4, Decimal('96.12'), Decimal('384.48'), datetime.datetime(2025, 7, 10, 4, 0, 56))
(423269, 'Durham, Harris and Allen', 'Role', 2, Decimal('68.01'), Decimal('136.02'), datetime.datetime(2025, 7, 10, 4, 0, 56))
(394046, 'Ferguson, Butler and Adkins', 'After', 7, Decimal('21.16'), Decimal('148.12'), datetime.datetime(2025, 7, 10, 4, 0, 55))
(377709, 'Davenport, Butler and Gonzalez', 'His', 10, Decimal('21.30'), Decimal('213.00'), datetime.datetime(2025, 7, 10, 4, 0, 54))
(381676, 'Garcia and Sons', 'Effect', 1, Decimal('72.14'), Decimal('72.14'), datetime.datetime(2025, 7, 10, 4, 0, 54))
(373840, 'Robbins Inc', 'Couple', 5, Decimal('74.15'), Decimal('370.75'), datetime.datetime(2025, 7, 10, 4, 0, 54))
(371161, 'Evans LLC', 'Sign', 10, Decimal('80.68'), Decimal('806.80'), datetime.datetime(2025, 7, 10, 4, 0, 54))
(359820, 'Peterson PLC', 'Gas', 10, Decimal('76.45'), Decimal('764.50'), datetime.datetime(2025, 7, 10, 4, 0, 53))
(353126, 'Barnes LLC', 'Stock', 6, Decimal('50.87'), Decimal('305.22'), datetime.datetime(2025, 7, 10, 4, 0, 53))
(355014, 'Anderson, Ellis and Warren', 'A', 4, Decimal('62.79'), Decimal('251.16'), datetime.datetime(2025, 7, 10, 4, 0, 53))
(314612, 'Cooper Inc', 'Next', 6, Decimal('79.54'), Decimal('477.24'), datetime.datetime(2025, 7, 10, 4, 0, 51))
(309740, 'Carter Ltd', 'Arrive', 1, Decimal('57.41'), Decimal('57.41'), datetime.datetime(2025, 7, 10, 4, 0, 51))
(312201, 'Stewart, Riddle and Kelly', 'Service', 5, Decimal('75.07'), Decimal('375.35'), datetime.datetime(2025, 7, 10, 4, 0, 51))
(309443, 'Morales, Mathews and Tyler', 'Ten', 6, Decimal('93.77'), Decimal('562.62'), datetime.datetime(2025, 7, 10, 4, 0, 51))
(311173, 'Harris-Evans', 'Wife', 5, Decimal('53.67'), Decimal('268.35'), datetime.datetime(2025, 7, 10, 4, 0, 51))
(303063, 'Holt Group', 'Offer', 1, Decimal('56.09'), Decimal('56.09'), datetime.datetime(2025, 7, 10, 4, 0, 50))
(290699, 'Gallegos Ltd', 'Account', 5, Decimal('85.62'), Decimal('428.10'), datetime.datetime(2025, 7, 10, 4, 0, 50))
(287616, 'Wall-Cruz', 'Available', 2, Decimal('43.48'), Decimal('86.96'), datetime.datetime(2025, 7, 10, 4, 0, 50))
(298227, 'Smith, Harrington and Snyder', 'Bit', 8, Decimal('31.72'), Decimal('253.76'), datetime.datetime(2025, 7, 10, 4, 0, 50))
(302719, 'May, Hunt and Henderson', 'Consumer', 8, Decimal('61.70'), Decimal('493.60'), datetime.datetime(2025, 7, 10, 4, 0, 50))
(249119, 'Choi-Maxwell', 'Develop', 4, Decimal('53.17'), Decimal('212.68'), datetime.datetime(2025, 7, 10, 4, 0, 48))
(245611, 'Moore Inc', 'Finally', 2, Decimal('86.36'), Decimal('172.72'), datetime.datetime(2025, 7, 10, 4, 0, 47))
(222770, 'Gutierrez Ltd', 'Example', 9, Decimal('62.06'), Decimal('558.54'), datetime.datetime(2025, 7, 10, 4, 0, 46))
(203955, 'Terry Group', 'Exist', 3, Decimal('97.71'), Decimal('293.13'), datetime.datetime(2025, 7, 10, 4, 0, 45))
(205182, 'Matthews, Lewis and Morris', 'Development', 8, Decimal('9.43'), Decimal('75.44'), datetime.datetime(2025, 7, 10, 4, 0, 45))
(198518, 'Brown LLC', 'Close', 7, Decimal('30.57'), Decimal('213.99'), datetime.datetime(2025, 7, 10, 4, 0, 45))
(177125, 'Jacobson-Cain', 'Nothing', 8, Decimal('77.61'), Decimal('620.88'), datetime.datetime(2025, 7, 10, 4, 0, 44))
(182221, 'Ferguson, Butler and Adkins', 'Season', 1, Decimal('41.48'), Decimal('41.48'), datetime.datetime(2025, 7, 10, 4, 0, 44))
(187231, 'Simmons, Banks and Wood', 'Trip', 2, Decimal('76.12'), Decimal('152.24'), datetime.datetime(2025, 7, 10, 4, 0, 44))
(185269, 'Garcia Inc', 'Health', 10, Decimal('87.08'), Decimal('870.80'), datetime.datetime(2025, 7, 10, 4, 0, 44))
(161948, 'Lopez, Parker and Peterson', 'With', 6, Decimal('25.12'), Decimal('150.72'), datetime.datetime(2025, 7, 10, 4, 0, 43))
(165042, 'Miller, Edwards and Gonzalez', 'Happy', 3, Decimal('45.69'), Decimal('137.07'), datetime.datetime(2025, 7, 10, 4, 0, 43))
(145026, 'Gutierrez Ltd', 'Challenge', 7, Decimal('39.44'), Decimal('276.08'), datetime.datetime(2025, 7, 10, 4, 0, 42))
(95816, 'Davenport, Butler and Gonzalez', 'Investment', 7, Decimal('54.72'), Decimal('383.04'), datetime.datetime(2025, 7, 10, 4, 0, 40))
(103416, 'Mejia Inc', 'Process', 8, Decimal('78.02'), Decimal('624.16'), datetime.datetime(2025, 7, 10, 4, 0, 40))
(73678, 'Graham, Collins and Walker', 'Represent', 7, Decimal('75.83'), Decimal('530.81'), datetime.datetime(2025, 7, 10, 4, 0, 39))
(84720, 'Hunt-Leonard', 'Test', 2, Decimal('61.80'), Decimal('123.60'), datetime.datetime(2025, 7, 10, 4, 0, 39))
(59446, 'May, Hunt and Henderson', 'Go', 6, Decimal('22.74'), Decimal('136.44'), datetime.datetime(2025, 7, 10, 4, 0, 38))
(44356, 'Mckinney, Smith and Ruiz', 'Power', 4, Decimal('42.54'), Decimal('170.16'), datetime.datetime(2025, 7, 10, 4, 0, 37))
(43581, 'Cunningham, Wilson and Mcmahon', 'Property', 10, Decimal('20.69'), Decimal('206.90'), datetime.datetime(2025, 7, 10, 4, 0, 37))
(593, 'Mills, Bowers and Walker', 'Leg', 4, Decimal('41.12'), Decimal('164.48'), datetime.datetime(2025, 7, 10, 4, 0, 35))
(7778, 'Garcia Group', 'College', 1, Decimal('37.61'), Decimal('37.61'), datetime.datetime(2025, 7, 10, 4, 0, 35))
(50, 'Weiss LLC', 'In', 1, Decimal('72.24'), Decimal('72.24'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(77, 'Reynolds-Wright', 'International', 5, Decimal('70.90'), Decimal('354.50'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(37, 'Hunt-Leonard', 'Growth', 5, Decimal('8.77'), Decimal('43.85'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(42, 'Griffin Ltd', 'Much', 6, Decimal('70.96'), Decimal('425.76'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(94, 'Simmons, Banks and Wood', 'Near', 8, Decimal('92.43'), Decimal('739.44'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(73, 'Hill PLC', 'Learn', 10, Decimal('57.10'), Decimal('571.00'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(73, 'Hill PLC', 'Media', 4, Decimal('50.42'), Decimal('201.68'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(68, 'Bass-Hart', 'Billion', 7, Decimal('91.49'), Decimal('640.43'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(66, 'Rivera LLC', 'Material', 2, Decimal('74.15'), Decimal('148.30'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(7, 'Carter, Mcguire and Gonzalez', 'Actually', 1, Decimal('64.65'), Decimal('64.65'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(62, 'Mack, Murphy and Clark', 'Out', 8, Decimal('42.15'), Decimal('337.20'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(50, 'Weiss LLC', 'Tv', 2, Decimal('91.28'), Decimal('182.56'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(1, 'Rivera LLC', 'Enjoy', 1, Decimal('37.32'), Decimal('37.32'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(92, 'Miller PLC', 'Who', 10, Decimal('6.51'), Decimal('65.10'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(87, 'Hansen Inc', 'Manage', 1, Decimal('15.47'), Decimal('15.47'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(97, 'Morales, Evans and Sanchez', 'Social', 8, Decimal('77.53'), Decimal('620.24'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(37, 'Hunt-Leonard', 'Ask', 1, Decimal('58.71'), Decimal('58.71'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(99, 'Castro LLC', 'The', 6, Decimal('52.58'), Decimal('315.48'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(2, 'Carter, Mcguire and Gonzalez', 'Change', 2, Decimal('17.28'), Decimal('34.56'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(75, 'Holt Group', 'Edge', 1, Decimal('70.95'), Decimal('70.95'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(54, 'Mack, Murphy and Clark', 'Huge', 4, Decimal('39.86'), Decimal('159.44'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(63, 'Robinson, Johnson and Allen', 'Benefit', 8, Decimal('24.47'), Decimal('195.76'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(26, 'Anderson, Ellis and Warren', 'Part', 7, Decimal('33.17'), Decimal('232.19'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(58, 'Buckley, Adams and Williams', 'Tough', 2, Decimal('41.03'), Decimal('82.06'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(37, 'Hunt-Leonard', 'International', 2, Decimal('27.80'), Decimal('55.60'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(53, 'Holt Group', 'Doctor', 7, Decimal('6.93'), Decimal('48.51'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(38, 'Rivera-Powell', 'Kid', 3, Decimal('37.02'), Decimal('111.06'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(68, 'Bass-Hart', 'Pm', 5, Decimal('43.91'), Decimal('219.55'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(57, 'Weiss LLC', 'Maybe', 8, Decimal('35.53'), Decimal('284.24'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(92, 'Miller PLC', 'Maybe', 2, Decimal('86.52'), Decimal('173.04'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(5, 'Carney, Weber and Ortega', 'Heavy', 5, Decimal('82.52'), Decimal('412.60'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(86, 'Cox-Hill', 'Out', 6, Decimal('57.19'), Decimal('343.14'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(59, 'Garcia and Sons', 'Actually', 5, Decimal('52.29'), Decimal('261.45'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(37, 'Hunt-Leonard', 'Require', 5, Decimal('35.80'), Decimal('179.00'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(38, 'Rivera-Powell', 'Social', 9, Decimal('79.05'), Decimal('711.45'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(71, 'Griffin Ltd', 'Around', 8, Decimal('46.41'), Decimal('371.28'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(18, 'Greene and Sons', 'Actually', 4, Decimal('36.33'), Decimal('145.32'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(55, 'Lopez, Parker and Peterson', 'Local', 8, Decimal('63.29'), Decimal('506.32'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(40, 'Chavez, Marshall and Lee', 'Heart', 6, Decimal('24.72'), Decimal('148.32'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(54, 'Mack, Murphy and Clark', 'Doctor', 4, Decimal('86.16'), Decimal('344.64'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(77, 'Reynolds-Wright', 'Actually', 1, Decimal('24.04'), Decimal('24.04'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(87, 'Hansen Inc', 'Out', 6, Decimal('58.52'), Decimal('351.12'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(40, 'Chavez, Marshall and Lee', 'Heavy', 7, Decimal('78.50'), Decimal('549.50'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(9, 'Duncan, Adams and Giles', 'Ask', 5, Decimal('38.05'), Decimal('190.25'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(29, 'Mccoy, Bauer and Delgado', 'Kid', 1, Decimal('88.07'), Decimal('88.07'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(89, 'Griffin Ltd', 'Local', 2, Decimal('36.61'), Decimal('73.22'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(2, 'Carter, Mcguire and Gonzalez', 'Material', 9, Decimal('82.12'), Decimal('739.08'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(2, 'Carter, Mcguire and Gonzalez', 'Can', 5, Decimal('89.40'), Decimal('447.00'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(57, 'Weiss LLC', 'Around', 2, Decimal('79.26'), Decimal('158.52'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(69, 'Farley LLC', 'Pay', 8, Decimal('77.49'), Decimal('619.92'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(30, 'Jackson, Mueller and Bryant', 'Decade', 10, Decimal('71.19'), Decimal('711.90'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(74, 'Mccoy, Bauer and Delgado', 'Decade', 5, Decimal('76.31'), Decimal('381.55'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(22, 'Bailey, Myers and Howard', 'Who', 6, Decimal('23.58'), Decimal('141.48'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(57, 'Weiss LLC', 'Quite', 6, Decimal('96.15'), Decimal('576.90'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(70, 'Rivera-Powell', 'Material', 9, Decimal('9.81'), Decimal('88.29'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(92, 'Miller PLC', 'Job', 4, Decimal('43.71'), Decimal('174.84'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(37, 'Hunt-Leonard', 'Who', 4, Decimal('48.80'), Decimal('195.20'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(52, 'Chavez, Marshall and Lee', 'American', 3, Decimal('98.90'), Decimal('296.70'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(58, 'Buckley, Adams and Williams', 'Many', 2, Decimal('81.58'), Decimal('163.16'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(23, 'Graham, Collins and Walker', 'Tv', 2, Decimal('39.68'), Decimal('79.36'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(11, 'Macdonald, Rodgers and Brown', 'Perform', 9, Decimal('89.03'), Decimal('801.27'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(99, 'Castro LLC', 'Edge', 9, Decimal('14.62'), Decimal('131.58'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(65, 'Young-Bishop', 'Dog', 7, Decimal('40.03'), Decimal('280.21'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(77, 'Reynolds-Wright', 'Near', 1, Decimal('49.15'), Decimal('49.15'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(53, 'Holt Group', 'Maybe', 7, Decimal('64.19'), Decimal('449.33'), datetime.datetime(2025, 7, 10, 3, 59, 37))
(66, 'Rivera LLC', 'In', 7, Decimal('41.62'), Decimal('291.34'), datetime.datetime(2025, 7, 10, 3, 59, 37))

index.py

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',    
    password='@123Pychey',
    database='pos_management_db'
)
cursor = conn.cursor()

index_queries = [
    # 1. Primary Key Indexes (Already Auto Created)

    # 2. Foreign Key Indexes
    "CREATE INDEX idx_pricing_pos_id ON pricing(pos_id)",
    "CREATE INDEX idx_store_client_pricing_id ON store_client(pricing_id)",
    "CREATE INDEX idx_pos_sale_store_id ON pos_sale(store_id)",
    "CREATE INDEX idx_pos_sale_pos_id ON pos_sale(pos_id)",
    "CREATE INDEX idx_pos_sale_pricing_id ON pos_sale(pricing_id)",
    "CREATE INDEX idx_store_inventory_store_id ON store_inventory(store_id)",
    "CREATE INDEX idx_store_transaction_store_id ON store_transaction(store_id)",
    "CREATE INDEX idx_transaction_item_transaction_id ON transaction_item(transaction_id)",
    "CREATE INDEX idx_transaction_item_inventory_id ON transaction_item(inventory_id)",
    "CREATE INDEX idx_system_feature_pos_id ON system_feature(pos_id)",
    "CREATE INDEX idx_system_feature_feature_id ON system_feature(feature_id)",

    # 3. Composite Indexes
    "CREATE INDEX idx_store_transaction_store_date ON store_transaction(store_id, created_at)",
    "CREATE INDEX idx_pos_sale_store_date ON pos_sale(store_id, sale_date)",
    "CREATE INDEX idx_store_inventory_store_product ON store_inventory(store_id, product_name)",
    "CREATE INDEX idx_transaction_item_inventory_quantity ON transaction_item(inventory_id, quantity)",

    # 4. WHERE clause optimization
    "CREATE INDEX idx_store_client_email ON store_client(email)",
    "CREATE INDEX idx_store_client_store_name ON store_client(store_name)",
    "CREATE INDEX idx_store_inventory_barcode ON store_inventory(barcode)",
    "CREATE INDEX idx_store_inventory_product_name ON store_inventory(product_name)",
    "CREATE INDEX idx_pos_system_name ON pos_system(name)",
    "CREATE INDEX idx_pos_feature_name ON pos_feature(feature_name)",

    # 5. ORDER BY optimization
    "CREATE INDEX idx_store_transaction_created_at ON store_transaction(created_at)",
    "CREATE INDEX idx_pos_sale_sale_date ON pos_sale(sale_date)",
    "CREATE INDEX idx_store_client_activated_at ON store_client(activated_at)",

    # 6. Aggregation queries
    "CREATE INDEX idx_store_inventory_store_price ON store_inventory(store_id, unit_price)",
    "CREATE INDEX idx_transaction_item_quantity_price ON transaction_item(quantity, unit_price)",

    # 7. Full-text search
    "CREATE FULLTEXT INDEX idx_store_inventory_product_search ON store_inventory(product_name, barcode)",
    "CREATE FULLTEXT INDEX idx_store_client_search ON store_client(store_name, owner_name, email)",

    # 8. Unique indexes
    "CREATE UNIQUE INDEX idx_store_client_email_unique ON store_client(email)",
    "CREATE UNIQUE INDEX idx_store_inventory_barcode_unique ON store_inventory(barcode)"
]

for query in index_queries:
    try:
        cursor.execute(query)
        print(f"Executed: {query}")
    except Exception as e:
        print(f"Error executing: {query}\n→ {e}")

conn.commit()
cursor.close()
conn.close()

print("\nAll indexing operations completed.")

dql_with_index.py

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',    
    password='@123Pychey',
    database='pos_management_db'
)
cursor = conn.cursor()

queries = [
    ("Query 1: Store info with POS and pricing",
    """
    SELECT sc.store_name, sc.owner_name, sc.email,
           ps.name as pos_system_name, p.plan_name,
           p.price_per_month, sc.activated_at
    FROM store_client sc
    JOIN pricing p ON sc.pricing_id = p.pricing_id
    JOIN pos_system ps ON p.pos_id = ps.pos_id
    ORDER BY sc.activated_at DESC
    """),

    ("Query 2: Total revenue by POS system",
    """
    SELECT ps.name as pos_system_name,
           COUNT(ps_sale.sale_id) as total_sales,
           SUM(ps_sale.amount) as total_revenue,
           AVG(ps_sale.amount) as average_sale_amount
    FROM pos_sale ps_sale
    JOIN pos_system ps ON ps_sale.pos_id = ps.pos_id
    GROUP BY ps.pos_id, ps.name
    ORDER BY total_revenue DESC
    """),

    ("Query 3: Above-average inventory value stores",
    """
    SELECT sc.store_name, sc.owner_name,
           SUM(si.quantity * si.unit_price) as total_inventory_value
    FROM store_client sc
    JOIN store_inventory si ON sc.store_id = si.store_id
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    HAVING SUM(si.quantity * si.unit_price) > (
        SELECT AVG(store_total.total_value)
        FROM (
            SELECT SUM(quantity * unit_price) as total_value
            FROM store_inventory
            GROUP BY store_id
        ) as store_total
    )
    ORDER BY total_inventory_value DESC
    """),

    ("Query 4: Transaction details with product info",
    """
    SELECT st.transaction_id, sc.store_name, si.product_name,
           ti.quantity, ti.unit_price,
           (ti.quantity * ti.unit_price) as total_amount,
           st.created_at
    FROM store_transaction st
    JOIN store_client sc ON st.store_id = sc.store_id
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    JOIN store_inventory si ON ti.inventory_id = si.inventory_id
    WHERE st.created_at >= '2024-01-01'
    ORDER BY st.created_at DESC
    """),

    ("Query 5: Store sales rank",
    """
    SELECT sc.store_name, sc.owner_name,
           SUM(ps_sale.amount) as total_revenue,
           RANK() OVER (ORDER BY SUM(ps_sale.amount) DESC) as revenue_rank,
           DENSE_RANK() OVER (ORDER BY SUM(ps_sale.amount) DESC) as dense_revenue_rank
    FROM store_client sc
    LEFT JOIN pos_sale ps_sale ON sc.store_id = ps_sale.store_id
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    ORDER BY total_revenue DESC
    """),

    ("Query 6: POS systems with all features",
    """
    SELECT ps.name as pos_system_name, ps.description
    FROM pos_system ps
    WHERE NOT EXISTS (
        SELECT 1 
        FROM pos_feature pf
        WHERE NOT EXISTS (
            SELECT 1 
            FROM system_feature sf 
            WHERE sf.pos_id = ps.pos_id AND sf.feature_id = pf.feature_id
        )
    )
    """),

    ("Query 7: Monthly sales performance",
    """
    SELECT YEAR(st.created_at) as year,
           MONTH(st.created_at) as month,
           COUNT(DISTINCT st.store_id) as active_stores,
           COUNT(st.transaction_id) as total_transactions,
           SUM(ti.quantity * ti.unit_price) as total_sales,
           CASE 
               WHEN SUM(ti.quantity * ti.unit_price) > 1000 THEN 'High Performance'
               WHEN SUM(ti.quantity * ti.unit_price) > 500 THEN 'Medium Performance'
               ELSE 'Low Performance'
           END as performance_category
    FROM store_transaction st
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    GROUP BY YEAR(st.created_at), MONTH(st.created_at)
    ORDER BY year DESC, month DESC
    """),

    ("Query 8: Compare pricing plans within same POS system",
    """
    SELECT p1.plan_name as plan1_name,
           p1.price_per_month as plan1_price,
           p2.plan_name as plan2_name,
           p2.price_per_month as plan2_price,
           (p2.price_per_month - p1.price_per_month) as price_difference,
           ps.name as pos_system_name
    FROM pricing p1
    JOIN pricing p2 ON p1.pos_id = p2.pos_id AND p1.pricing_id < p2.pricing_id
    JOIN pos_system ps ON p1.pos_id = ps.pos_id
    ORDER BY price_difference DESC
    """),

    ("Query 9: Stores with high-value transactions",
    """
    SELECT sc.store_name, sc.owner_name,
           COUNT(st.transaction_id) as transaction_count,
           AVG(transaction_total.total_amount) as avg_transaction_value
    FROM store_client sc
    JOIN store_transaction st ON sc.store_id = st.store_id
    JOIN (
        SELECT transaction_id,
               SUM(quantity * unit_price) as total_amount
        FROM transaction_item
        GROUP BY transaction_id
    ) transaction_total ON st.transaction_id = transaction_total.transaction_id
    WHERE transaction_total.total_amount IN (
        SELECT SUM(quantity * unit_price)
        FROM transaction_item
        GROUP BY transaction_id
        HAVING SUM(quantity * unit_price) > 50
    )
    GROUP BY sc.store_id, sc.store_name, sc.owner_name
    ORDER BY avg_transaction_value DESC
    """),

    ("Query 10: Feature usage analysis",
    """
    SELECT pf.feature_name,
           COUNT(DISTINCT sf.pos_id) as pos_systems_with_feature,
           COUNT(DISTINCT ps_sale.store_id) as stores_using_feature,
           SUM(ps_sale.amount) as total_revenue_from_feature,
           ROUND(
               (COUNT(DISTINCT sf.pos_id) * 100.0 / (SELECT COUNT(*) FROM pos_system)), 2
           ) as feature_adoption_percentage
    FROM pos_feature pf
    LEFT JOIN system_feature sf ON pf.feature_id = sf.feature_id
    LEFT JOIN pos_sale ps_sale ON sf.pos_id = ps_sale.pos_id
    GROUP BY pf.feature_id, pf.feature_name
    ORDER BY feature_adoption_percentage DESC
    """),

    ("Query 11: Inventory turnover per store",
    """
    SELECT sc.store_name,
           COUNT(si.inventory_id) as total_products,
           SUM(si.quantity) as total_stock,
           SUM(si.quantity * si.unit_price) as inventory_value,
           COUNT(ti.transaction_id) as sales_transactions,
           CASE 
               WHEN COUNT(ti.transaction_id) > 0 THEN 
                   ROUND(SUM(si.quantity * si.unit_price) / COUNT(ti.transaction_id), 2)
               ELSE 0 
           END as inventory_per_transaction
    FROM store_client sc
    LEFT JOIN store_inventory si ON sc.store_id = si.store_id
    LEFT JOIN transaction_item ti ON si.inventory_id = ti.inventory_id
    GROUP BY sc.store_id, sc.store_name
    ORDER BY inventory_per_transaction DESC
    """),

    ("Query 12: Monthly growth trend",
    """
    SELECT YEAR(st.created_at) as year,
           MONTH(st.created_at) as month,
           COUNT(st.transaction_id) as transactions,
           SUM(ti.quantity * ti.unit_price) as revenue,
           LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at)) as prev_month_revenue,
           CASE 
               WHEN LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at)) > 0 THEN
                   ROUND(
                       ((SUM(ti.quantity * ti.unit_price) - LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at))) / 
                       LAG(SUM(ti.quantity * ti.unit_price)) OVER (ORDER BY YEAR(st.created_at), MONTH(st.created_at))) * 100, 2
                   )
               ELSE 0 
           END as growth_percentage
    FROM store_transaction st
    JOIN transaction_item ti ON st.transaction_id = ti.transaction_id
    GROUP BY YEAR(st.created_at), MONTH(st.created_at)
    ORDER BY year DESC, month DESC
    """)
]

title, sql = queries[0] # Change [0] -> to Test Other Queries

try:
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(title)
    for row in rows:
        print(row)
    if not rows:
        print("[No results]")
except Exception as e:
    print(f"[Error running query]: {e}")

cursor.close()
conn.close()

Additional.note

- for dcl.sql, please find it in sql folder then run it in your own database workspace such dbeaver.
- for web controlling dcl, please find instructions in readme.md to run the web.
- for backup_recovery.ipynb, please find it in backup folder.